
.block .header h2, .section-modchooser-text, .maincalendar .header {
    color: white;
    font-weight: bold;
}


h1.main, h2.main, h3.main, h4.main, h5.main, h6.main {
    width: 100%;
    display: block; 
    float: left;
}

#defaultmessageoutputs, .mform {
    display: block; 
    float: left;
}

.headingblock, h2.main a, h2.main a:hover, div.region-content .footer a {
    color: white;
}

.path-course-view .weeks .content, .path-course-view .topics .content, .path-course-view .weeks .section, .path-course-view .topics .section {
    display: inline-table;
}

.course-content .section {
    width: 100% !important;
}

.course-content ul.weeks li.section .content {
    width: 80%;
}

.coursebox .content .teachers, .coursebox .content .coursecat, .coursebox .content .summary, .coursebox .content .courseimage, .coursebox .content .coursefile, .coursebox.remotecoursebox .remotecourseinfo {
    width: 95%;
}

.forumpost .header, table .header {
    padding-bottom: 0px;
    background-color: #eee;
    color: white;
}

.main, .second, .third, .form-submit #submit {
    text-align: left;
}

.mod-indent-1 {
    margin-left: 0px;
}

.section-modchooser-text {
    color: #1B2656;
}

.hidden {
    display: block;
}

.course-content ul.topics li.section {
    width: 100%;
}

.sitetopic .section .activity .commands, .course-content .section .activity .commands {
    float: right;
}

.head_content .main_nav {
    display: none;
}

.block_myprofile .content {
    text-align: center;
}

.mform .collapsible-actions {
    display: block;
}

/*
.no-overflow {
    float: left;
}
*/

td.header {
    width: 14% !important;
}

.block_editablecontenthtml ul {
    list-style: inside;
}

#assignform {
    clear: left; 
}

textarea {
    visibility: visible;
}

#core-cache-plugin-summaries table, #core-cache-store-summaries table, #core-cache-lock-summary table, #core-cache-definition-summaries table, #core-cache-mode-mappings table {
   clear: right;
}


.performanceinfo {text-align:center;margin:10px 20%;}
.performanceinfo span {display:block;}
.validators {margin-top:40px;padding-top:5px;border-top: 1px dotted gray;}
.validators ul {margin:0px;padding:0px;list-style-type:none;}
.validators ul li {display:inline;margin-right:10px;margin-left:10px;}

.performanceinfo .cachesused {margin-top:1em;}
.performanceinfo .cachesused .cache-stats-heading {font-weight:bold;display:block;}
.performanceinfo .cachesused .cache-definition-stats {margin:0.3em;padding:0px;border:1px solid #999;display:inline-block;vertical-align:top;min-height:4em;color:#000;background-color:#eee;}
.performanceinfo .cachesused .cache-definition-stats span {padding-left:0.5em;padding-right:0.5em;display:block;}
.performanceinfo .cachesused .cache-definition-stats .cache-definition-stats-heading {background-color:#eee;}
.performanceinfo .cachesused .cache-store-stats {text-indent: 1em;}
.performanceinfo .cachesused .cache-store-stats.nohits {background-color:#ffd3d9;}
.performanceinfo .cachesused .cache-store-stats.lowhits {background-color:#f3f2aa;}
.performanceinfo .cachesused .cache-store-stats.hihits {background-color:#e7f1c3;}
.performanceinfo .cachesused .cache-total-stats {display:block;font-weight:bold;margin-top:0.3em;}

.generalbox .no-overflow { 
  float:left;
}


#region-main ul {    
	list-style: none outside disc;
	margin-left: 2em;
	padding: inherit;
}

#region-main p {    
	margin-bottom: 1em;
}
